body {
    font-family: Ubuntu, Arial, sans-serif; /* A slightly nicer font */
    margin-left: 0px;               /* Take up all available room */
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: white;
}

#banner {
    width: 100%;
    min-height: 250px;
    background-image: url(../img/techsec_team.jpg);
    background-repeat: no-repeat;
    background-position: 0px -244px;
    background-size: 100%;
    position: relative;
    margin-bottom: 0;
}

#logo-name {
    height: 80px;
    background-color: #808080;
    background-image: url(../img/horizontal_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36%;
}

#content {
    height: auto;
    position: relative;
    float: left;
}

#sidebar {
    position: relative;
    float: left;
    background-color: #00000;
    left: 0px;
    min-height: 1000px;
}


#sidebar-logo {
    display: block;
    margin: auto;
    margin-top: 30px;
}

#posts {
    height: 100%;
    float: left;
    width: 100%;
    padding: 50px;
}


div.separator {
    margin-top:2em;
    text-transform: uppercase;
    color: rgba(90, 90, 90, 0.6);
    border-bottom: 1px solid rgba(90, 90, 90, 0.6);
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

section.post {
    margin-bottom: 4em;
    padding: 5px;
    background-color: #f2f2f2;
}

.post:last-of-type {
    margin-bottom: 1em;
}

footer {
    width: 100%;
    height: 80px;
    clear: both;
    background-color: #eaeaea;
    text-align: center;
}

p span {
    line-height: 80px;
    font-size: 20px
}




.row {
    margin: 0;
}

.sidebar-nav {
  position: absolute;
  width: 100%;
  background-color: #262626;
}

.col-md-2 {
    background-color: #262626;
    padding: 0;
    margin: 0;
    min-height: 1300px;
}
.col-md-10{
    background-color: #f2f2f2;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  font-size: 18px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover, .sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

section-header{
    font-size: 50px;
}