@import url("reset.css");

html, body {
    height: 100%;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
}

#sidebar {
    position: fixed;
    border: 3px solid black;
    height: 100%;
    width: 200px;
    z-index: 1;
}

img#lock-logo {
    display: block;
    margin: 10px auto;
    width: 100px;
}

#sidebar li {
    text-align: center;
    line-height: 30px;
    border-bottom: 2px solid black;
}

#sidebar li:first-of-type {
    border-top: 2px solid black;
}

#content {
    position: relative;
    width: 75%;
    margin-left: 220px;
}

img#techsec-logo {
    height: 70px;
}

div#team-photo {
    height: 400px;
    width: 100%;
    background-image: url(techsec_team.jpg);
    background-repeat: no-repeat;
    background-position: -300px -180px;
    background-size: 135% auto;
    margin-bottom: 10px;
}

#quick-links {
    height: 80px;
    width: 100%;
    margin-bottom: 25px;
}

.link {
    display: inline-block;
    width: 32.863%; /* ??? */
    height: 100%;
    border: 1px solid purple;

    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

#posts {
    width: 100%;
}

.post {
    width: 100%;
    margin-bottom: 30px;
}

.post h2 {
    font-size: 24px;
    text-decoration: bold;
    margin-bottom: 10px;
}

div.post-info {
    text-transform: uppercase;
    color: rgba(90, 90, 90, 0.6);
    border-bottom: 1px solid rgba(90, 90, 90, 0.6);
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}
