@import url("reset.css");

a {
    text-decoration: none;
}

html, body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #eeeeee;
}

#sidebar {
    position: fixed;
    width: 200px;
    z-index: 1;
}

#lock-logo {
    display: block;
    margin: 16px auto;
    width: 100px;
}

#sidebar li {
    text-align: center;
    line-height: 60px;
    color: white;
    margin-bottom: 5px;
}

#sidebar li.last-button {
    margin-bottom: 0px;
}

#home-button {
    background-color: #D46A6A;
}

#about-button {
    background-color: #764B8E;
}

#workshops-button {
    background-color: #4F628E;
}

#content {
    position: relative;
    margin-left: 220px;
    margin-right: 40px;
}

#techsec-logo {
    height: 70px;
    display: block;
    margin-top: 16px;
    margin-left: 350px;
    margin-bottom: 16px;
    background-color: none;
}

#team-photo {
    height: 400px;
    background-image: url(techsec_team.png);
    background-repeat: no-repeat;
    background-position: -310px -180px;
    background-size: 130% auto;
    margin-bottom: 16px;
}

#quick-links {
    height: 80px;
    margin-bottom: 16px;
}

.link {
    float: left;
    position: relative;
    width: 32.66%;

    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    color: white;
    font-size: 1.25em;
    background-color: #483D4C;
}

.column-1 { margin-right: 0.5%; }

.column-2 {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.column-3 { margin-left: 0.5%; }

.post {
    margin-bottom: 30px;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.post h2 {
    font-size: 24px;
    text-decoration: bold;
    margin-bottom: 10px;
}
