body {
    font-family: Consolas, sans-serif;
    margin-left: 0px;
    margin-top: 0px;
}

#content {
    height: auto;
    position: relative;
    float: left;
    width: 85%;
}


#sidebar {
    position: absolute;
    float: left;
    height: 100%;
    width: 22%;
    left: 0px;
    min-height: 500px;
    background-color: #3d4f5d;
}

#sidebar-logo {
    display: block;
    margin: auto;
}

#sidebar ul {
    display: block;
    padding-left: 0px;
}

#sidebar li {
    font-size: 25px;
    line-height: 1.5em;
    color: white;
    text-align: center;
    padding-left: 0px;
}

#posts {
    height: 100%;
    margin-left: 27%;
    float: left;
    width: 90%;
}

#banner {
    width: 100%;
    min-height: 250px;
    border: 5px solid #000000;
    background:url("black_and_gray.png") no-repeat 260px -310px;
    position: relative;
}

#banner #banner-text {
    text-align: center;
    margin-top: 150px;
    color: #515973;
}

div.separator {
    margin-top:2em;
    text-transform: uppercase;
    color: rgba(90, 90, 90, 0.6);
    border-bottom: 1px solid rgba(90, 90, 90, 0.6);
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

section.post {
    margin-bottom: 4em;
}

.post:last-of-type {
    margin-bottom: 1em;
}

footer p {
    background-color: #eaeaea;
    margin-top: 0px;
    margin-bottom: 0px;
}
